[submodule "autonomy_park_viz"]
	path = autonomy_park_viz
	url = https://github.com/UFL-Autonomy-Park/autonomy_park_viz.git
[submodule "px4_safety_lib"]
	path = px4_safety_lib
	url = https://github.com/UFL-Autonomy-Park/px4_safety_lib.git
[submodule "px4_telemetry"]
	path = px4_telemetry
	url = https://github.com/UFL-Autonomy-Park/px4_telemetry.git
[submodule "px4_teleop"]
	path = px4_teleop
	url = https://github.com/UFL-Autonomy-Park/px4_teleop.git
[submodule "minimal_startup_air"]
	path = minimal_startup_air
	url = https://github.com/UFL-Autonomy-Park/minimal_startup_air.git
[submodule "swarm_interfaces"]
	path = swarm_interfaces
	url = https://github.com/Jordan-Insinger/swarm_interfaces.git
